body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  ;
  font-size: 13px;
  line-height: 2;
}

h1 {
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 15px;

}

h2 {
  font-size: 18px;
}

blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 1em;
  font-style: italic;
  border-left: 5px solid #eee
}


/* nav bar */

.active {
  color: red;
}

.wap {
  padding-top: 130px;

}

.wapNEWS {
  padding-top: 105px;

}

.wapSub {
  padding-top: 130px;

}

.navbar-nav {
  padding-top: 47px;
}

.navbar-brand {
  line-height: 0px;
  height: 50px;
  padding-top: 0;
  color: white;
}

.navbar-brand img {
  height: 100px;
  padding: 10px 0 10px 10px;

}

.navDrop {
  height: 100px;
  -webkit-box-shadow: 0 0 15px 0 #cccccc;
  -moz-box-shadow: 0 0 15px 0 #cccccc;
  box-shadow: 0 0 15px 0 #cccccc;
  background-color: rgba(255, 255, 255, 0.8);
}

.navDrop-home {
  height: 100px;
  background-color: rgba(255, 255, 255, 0.0);
  border-width: 0;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  padding-left: 30px;
}

.navbar-home>li>a {
  color: black !important;
}

.navbar-home>li>a:hover {
  color: red !important;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #111;
}

.navbar-default .navbar-nav>li>a:focus {
  color: red;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  color: red;
  background: none;

}

.navbar-nav.navbar-right:last-child {
  margin-right: 0;
}

/* Nav toggle colour reset */

.navbar-default .navbar-toggle {
  border-style: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #F8F8F8;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: none;
}

.navbar-default .navbar-toggle {
  border-color: #ffffff;
}

/* Nav toggle animation */


.navbar-toggle .icon-bar:nth-of-type(2) {
  top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
  top: 2px;
}

.navbar-toggle .icon-bar {
  position: relative;
  /*   transition: all 500ms ease-in-out ; */
  -webkit-transition: all 500ms ease-in-out 0s;
  -moz-transition: all 500ms ease-in-out 0s;
  -o-transition: all 500ms ease-in-out 0s;
  transition: all 500ms ease-in-out 0s;
}

.navbar-toggle.active2 .icon-bar:nth-of-type(1) {
  top: 6px;
  /*    */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.navbar-toggle.active2 .icon-bar:nth-of-type(2) {
  background-color: transparent;
}

.navbar-toggle.active2 .icon-bar:nth-of-type(3) {
  top: -6px;
  /*    transform: rotate(-45deg);*/
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/*  -webkit-transition: transform 0.3s ease 0s, opacity 0.2s ease 0s;   Chrome 1-25, Safari 3.2+ */




/* ------ Slideshow  ------ */

.cb-slideshow,
.cb-slideshow:after {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}

.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 30s linear infinite 0s;
}

.cb-slideshow li div {
  z-index: 1000;
  position: absolute;
  bottom: 30px;
  left: 0px;
  width: 100%;
  text-align: right;
  padding: 2em;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 30s linear infinite 0s;
}

.cb-slideshow li div h3,
.cb-slideshow li div p {
  color: white;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url(../img/slide-01.jpg)
}

.cb-slideshow li:nth-child(2) span {
  background-image: url(../img/slide-02.jpg);
  animation-delay: 5s;
}

.cb-slideshow li:nth-child(3) span {
  background-image: url(../img/slide-03.jpg);
  animation-delay: 10s;
}

.cb-slideshow li:nth-child(4) span {
  background-image: url(../img/slide-04.jpg);
  animation-delay: 15s;
}

.cb-slideshow li:nth-child(5) span {
  background-image: url(../img/slide-05.jpg);
  animation-delay: 20s;
}

.cb-slideshow li:nth-child(6) span {
  background-image: url(../img/slide-06.jpg);
  animation-delay: 25s;
}


.cb-slideshow li:nth-child(2) div {
  animation-delay: 5s;
}

.cb-slideshow li:nth-child(3) div {
  animation-delay: 10s;
}

.cb-slideshow li:nth-child(4) div {
  animation-delay: 15s;
}

.cb-slideshow li:nth-child(5) div {
  animation-delay: 20s;
}

.cb-slideshow li:nth-child(6) div {
  animation-delay: 25s;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  15% {
    opacity: 1;
    animation-timing-function: ease-out;
  }

  25% {
    opacity: 1
  }

  33% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

@keyframes titleAnimation {
  0% {
    opacity: 0
  }

  15% {
    opacity: 1
  }

  25% {
    opacity: 1
  }

  33% {
    opacity: 0
  }

  100% {
    opacity: 0
  }
}

.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 {
    font-size: 2em;
  }

  .cb-slideshow li div p {
    font-size: 2em;
  }
}

@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 {
    font-size: 2em;
  }

  .cb-slideshow li div p {
    font-size: 2em;
  }
}

/* ------ Footer  ------ */



html,
body {
  height: 100%;
}

#wrap {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 150px;

}

/* must be same height as the footer */



#footer {
  background-color: white;
  position: relative;
  margin-top: -150px;
  /* negative value of footer height */
  margin-bottom: 0px;
  height: 150px;
  z-index: 100;

}


/*Opera Fix*/
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;/
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footerz li {
  font-size: 12px;
  line-height: 1.8;
  list-style: none;
  text-align: right;
}


.footerz a {
  color: red;
  text-decoration: underline;
  text-align: right;
}


/* ------ MIXITUP  ------ */

.mixitup-wrapper>.col-md-4,
.col-lg-4,
.col-sm-6,
.col-xs-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}


#Grid {
  display: inline-block;
  text-align: justify;
  font-size: 0.1px;
  padding: 0px;
  margin: 0px;
  width: 100%;
}

#Grid:after {
  content: '';
  display: inline-block;
  width: 100%;
}

#Grid .mix {
  display: inline-block;
  margin-bottom: 20px;
}

#Grid ul {
  list-style-type: none;
  /* reset padding and margins */
  margin: 0px;
  padding: 0px;
}

#Container .mix {
  display: none;
}


/* ------ hovereffect  ------ */


.view {
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
  background: #fff no-repeat center center
}

.view .mask,
.view .content {
  margin: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}


.center {
  margin: 20px;

  /* position: absolute;
 I/* width: 75%;
  /* top: 25%;
  /* left: 50%;
  /* -webkit-transform: translateX(-50%) translateY(-50%);
  /* -moz-transform: translateX(-50%) translateY(-50%);
  /* -o-transform: translateX(-50%) translateY(-50%);
  /* transform: translateX(-50%) translateY(-50%); */
}


.view img {
  display: inline-block;
  position: relative
}

.view h2 {
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: left;
  font-size: 17px;
  color: #fff;
  background: none;

}

.view p {
  text-align: left;
  font-size: 14px;
  color: #fff;

}

.view-first img {
  transition: all 0.2s linear;
}

.view-first .mask {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  /*    transition: all 0.4s ease-in-out;  */
  -webkit-transition: all 0.4s ease-in-out 0;
  -moz-transition: all 0.4s ease-in-out 0;
  -o-transition: all 0.4s ease-in-out 0;
}

.view-first h2 {
  /*transform: translateY(-100px);*/
  opacity: 0;
  /*     transition: all 0.6s ease-in-out; */
  -webkit-transition: all 0.6s ease-in-out 0;
  -moz-transition: all 0.6s ease-in-out 0;
  -o-transition: all 0.6s ease-in-out 0;
}

.view-first p {
  /*transform: translateY(100px);*/
  opacity: 0;
  display: none;
  /*    transition: all 0.6s linear; */
  -webkit-transition: all 0.6s ease-in-out 0;
  -moz-transition: all 0.6s ease-in-out 0;
  -o-transition: all 0.6s ease-in-out 0;
}

.view-first:hover img {
  /*    transform: scale(1.1); */
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);

}

.view-first:hover .mask {
  opacity: 1;
}

.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
  opacity: 1;
  /*    transform: translateY(0px); */
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -o-transform: translateY(0px);
}

/* .view-first:hover p {
/*   /*    transition-delay: 0.1s; */
/*   -webkit-transition-delay: 0.1s;
/*   -moz-transition-delay: 0.1s;
/*   -o-transition-delay: 0.1s;
/*
/* }





@media (max-width: 767px) {
  .navbar-toggle {
    margin-top: 19px;
    margin-bottom: 22px;
  }

  .navbar-fixed-top {
    position: relative;
    top: auto;
  }

  .navbar-collapse {
    max-height: none;
    background-color: #fff;
  }

  .navbar-nav {
    padding-top: 0px;
    padding-left: 10px;
  }

  .navbar-brand {
    line-height: 0px;
    height: 50px;
    padding-top: 0;
    color: white;
  }

  .navbar-brand img {
    height: 75px;
    padding-left: 10px;

  }

  .navDrop {
    height: 75px;
  }

  .wap {
    padding-top: 0px;

  }

  .wapNEWS {
    margin-top: 0px;
    padding-top: 0px;

  }

  .wapSub {
    padding-top: 0px;

  }

}




/* Project detail */

.right {
  text-align: right;
}

.infosmall {
  color: red;
  /* background-color: red; */
  text-align: center;
  font-size: 16px;
  padding-top: 15px;
  /* margin: -10px; */
}

.infosmall h2 {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  font-size: 14px;
  color: #999;
  background: none;
}

.infosmall p {
  display: none;
  text-align: center;
  font-size: 13px;
  color: #999;

}

.quote {
  font-style: italic;
}

.pad {
  padding-bottom: 10px;
}


.redtext {
  color: red;
}

.breadcrumb {
  font-size: 12px;
  background: none;
  margin: 0px;
  padding: 8px 0px;
}

.breadcrumb a {
  color: red;
  opacity: 0.5;
}

.proback {
  color: red;
}

.proback a {
  color: red;
}


.breadcrumb>li+li::before {
  color: red;
}

.imagez {

  padding-left: 0px;
  padding-right: 0px;
}

.detail {}

.propad {
  padding: 10px 10px;
}

/*  Tumblr blog   */

.news-heading {
  display: block;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 20px;
  width: 600px;
}

.news-sm {
  border-bottom: 1px solid #999;
  margin-bottom: 40px;
}



.tumblr_posts {
  list-style-type: none;
  margin: 0px;
  padding: 0px;

}

.tumblr_photo {
  padding-top: 0;
  padding-bottom: 5px;
  width: 100%;
}

.tumblr_video {
  display: block;
  margin: 0 auto;
  padding-top: 0;
  padding-bottom: 5px;
  width: 600px;
}

.tumblr_caption {
  border-bottom: 1px solid #999;
  height: auto;
  margin-bottom: 40px;
  padding: 20px 0 20px 0;


}

.tumblr_caption strong {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;

}

.tumblr_caption b {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;

}

@media (max-width: 767px) {
  .news-sm {
    border-bottom: 1px solid #999;
    margin-bottom: 40px;
    width: auto;
  }

}


@media (min-width: 767px) {


  .wapNEWS {
    margin-top: 0px;
    padding-top: 115px;

  }


  .tumblr_posts {
    display: block;
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;

  }

  .tumblr_photo {
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;

  }


  .tumblr_caption {
    width: 600px;
    height: auto;
    margin-left: auto;
    margin-right: auto;


  }

  .tumblr_caption strong {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;

  }

  .tumblr_caption b {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.5;

  }

  .tumblr_caption p {}

}

/* about */

.about {
  color: #333;
  text-decoration: none;
}

.about:hover {
  color: #111;
  text-decoration: none;
}

.padabout {
  padding: 10px;
}

.padabout2 {
  padding: 10px 0 20px 0;
}

.padh3 {
  padding-bottom: 25px;
}

.padh4 {
  padding: 20px 0;
}

.lino {
  border-bottom: 1px solid #999;
}

/*   googlemaps  */

#TSH {
  height: 400px;
  width: 100%;
  padding-bottom: 120px;
}

.gm-style-iw * {
  display: block;
  width: 100%;
}

.gm-style-iw h4,
.gm-style-iw p {
  margin: 0;
  padding: 0;
}

.gm-style-iw a {
  color: #4272db;
}

.addy {
  padding-bottom: 20px;

}

.addy ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;

}

.pad2 {
  padding-bottom: 50px;
}


.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}

.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}






.nav-side-menu .brand {
  padding-top: 1px;
  padding-bottom: 1px;
}

/* Large screen edits */

@media (min-width:1200px) {
  .container {
    width: 90%;

  }

  .wap {
    padding-top: 150px;
  }

  .navDrop {
    height: 120px;
  }

  .navbar-brand img {
    height: 120px;
  }

  .nav {
    font-size: 18px;
  }
}

/* Fifths */

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}