  <div id="footer">
    <hr>
    <div class="container">
      <div class="footerz">
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <img src="/img/RIBAlogo.jpg" class="img-responsive" alt="RIBA logo">
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
          <a target="_blank" href="https://www.architecture.com/about/policy/climate-action/2030-climate-challenge">
            <img src="/img/RIBACClogo.jpg" class="img-responsive" alt="RIBA logo">
          </a>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6 col-xs-12">
          <ul>
            <li>TSH Architects</li>
            <li>+44 (0) 1865 861281</li>
            <li><a href="mailto:hello@tsharchitects.co.uk">hello@tsharchitects.co.uk</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>