  <div id="footer">
    <hr>
    <div class="container">
      <div class="footerz">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-4">
          <img src="/img/RIBAlogo.jpg" class="hidden-xs visible-sm visible-md visible-lg" alt="RIBA logo">
          <img src="/img/RIBAlogo2.jpg" class="visible-xs hidden-sm hidden-md hidden-lg" alt="RIBA logo">

        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
          <ul>
            <li>TSH Architects</li>
            <li>+44 (0) 1865 861281</li>
            <li><a href="mailto:hello@tsharchitects.co.uk">hello@tsharchitects.co.uk</a></li>
          </ul>
        </div>

      </div>
    </div>
  </div>