        {% assign current = page.url | downcase | remove: '.html' | split: '/'  %}
        
        <nav class="navbar navbar-default navbar-fixed-top navDrop" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">

                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index"> <img src="../img/TSH-logo.png"> </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li {% if current[1] == 'projects-page' %} class='active' {% endif %}><a href="../projects-page">Projects</a></li>
                        <li {% if current[1] == 'news' %} class='active' {% endif %}><a href="../news">News</a></li>
                        <li {% if current[1] == 'about' %} class='active' {% endif %}><a href="../about">About</a></li>
                        <li {% if current[1] == 'contact' %} class='active' {% endif %}><a href="../contact">Contact</a>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <div class="underbanner">
            <!--banner image-->
            <p>We are hiring! For more details and to apply please see <a href="../recruitment">here</a>.</p>
            </div>