<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div id="wrap">


        {% include nav.html %}



    <!-- /.mixItUp -->
    <div id="main">
      <div class="wapSub">
        <div class="container">

          <div class="col-lg-4 col-lg-offset-4 ol-md-3 col-sm-6 col-xs-6">
            <h1>404</h1>
            <p>Woops. Something has gone wrong here and the page you have requested is not
              available.</p>
            <p>Please use the menu above to Navigate to the section you are looking for.</p>
          </div>




        </div>
      </div>
    </div>
  </div>

  </div>


  <!-- Footer -->


  <!-- Footer -->

  {% include footer.html %}


  <!-- Include all compiled plugins (below), or include individual files as needed -->

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/mainnav.js"></script>
  <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>

  <script type="text/javascript" src="js/safety.js"></script>



  <!-- <script type="text/javascript" src="js/jquery.ba-hashchange.js"></script>
<script type="text/javascript" src="js/BBQ.js"></script>-->


</body>

</html>