<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	<div id="wrap">
		<nav class="navbar navbar-default navbar-fixed-top navDrop" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1"
						data-toggle="collapse" type="button"><span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand"
						href="index"><img alt="TSH logo" src="img/TSH-logo.png"></a>
				</div><!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="marston-consultation">Old Marston Paddock</a></li>
						<li><a href="projects-page">Projects</a></li>
						<li><a href="news">News</a></li>
						<li class="active"><a>About</a></li>
						<li><a href="contact">Contact</a></li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav><!-- /.mixItUp -->
		<div id="main">
			<div class="wapSub">
				<div class="container">
					<div class="propad col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h1>The Practice</h1>
					</div>
					<div class="propad col-lg-6 col-md-6 col-sm-6 col-xs-12"><img class="img-responsive"
							src="img/about/profile_group.jpg">
					</div>
					<div class="propad col-lg-5 col-md-6 col-sm-6 col-xs-12">
						<p><strong>TSH Architects was formed in 1991 by Graeme Towle, Andrew Spurring and Nick
								Hardy. Now led by Nick Hardy.</strong></p>
						<p>The practice has established a deserved reputation for producing innovative design
							solutions, largely in the education and residential sectors.</p>
						<p>The staff at TSH Architects work hard, but like to play as well, so every winter the
							whole office decants to the alps for a long weekend snowboarding and every summer to
							surf in Devon.</p>
						<p>Towle Spurring Hardy Limited - Registered in England Number 5176613</p>
					</div>
					<div class="propad col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h1>Meet the team</h1>
					</div>
					<div class="row">
						{% for member in site.staff %}
						{% if member.role == "Director" %}
						<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="pad col-lg-3 col-md-4 col-sm-6 col-xs-12">
								<div><img class="img-responsive" src="{{ member.picture }}"></div>
								<p><strong>{{ member.name }}<br>
										{{ member.role }}</strong></p>
								<p class="qualifications">{{ member.qualifications }}</p>
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>

					<div class="row">
						<div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 staffbox">
							{% for member in site.staff %}
							{% if member.role != "Director" %}
							<div class="pad col-lg-3 col-md-4 col-sm-6 col-xs-12">
								<div><img class="img-responsive" src="{{ member.picture }}"></div>
								<p><strong>{{ member.name }}<br>
										{{ member.role }}</strong></p>
								<p class="pad">{{ member.qualifications }}</p>
							</div>
							{% endif %}
							{% endfor %}
						</div>
					</div>
					<div class="propad col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<h1>Privacy Policy</h1>
					</div>
					<div class="propad col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<p>You can view our privacy policy as a PDF document <a href="../assets/privacy.pdf"
								target="_blank">here</a>.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	</div><!-- Footer -->
	<div id="footer">
		<hr>
		<div class="container">
			<div class="footerz">
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-4"><img alt="RIBA logo"
						class="hidden-xs visible-sm visible-md visible-lg" src="img/RIBAlogo.jpg"> <img alt="RIBA logo"
						class="visible-xs hidden-sm hidden-md hidden-lg" src="img/RIBAlogo2.jpg"></div>
				<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
					<ul>
						<li>TSH Architects</li>
						<li>+44 (0) 1865 861281</li>
						<li>
							<a href="mailto:hello@tsharchitects.co.uk">hello@tsharchitects.co.uk</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->

	{% include footer.html %}>



	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript">
	</script>
	<script src="js/bootstrap.min.js" type="text/javascript">
	</script>
	<script src="js/mainnav.js" type="text/javascript">
	</script>
	<script src="js/jquery.mixitup.min.js" type="text/javascript">
	</script>
	<script src="js/safety.js" type="text/javascript">
	</script>
	<!-- <script type="text/javascript" src="js/jquery.ba-hashchange.js"></script>
    <script type="text/javascript" src="js/BBQ.js"></script>-->
</body>

</html>