<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    <div id="wrap">

        <!-- Nav -->

        <nav class="navbar navbar-default navbar-fixed-top navDrop" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">

                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="../index"> <img src="../img/TSH-logo.png"> </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="../marston-consultation">Old Marston Paddock</a></li>
                        <li class="active"><a href="../projects-page">Projects</a></li>
                        <li><a href="../news">News</a></li>
                        <li><a href="../about">About</a></li>
                        <li><a href="../contact">Contact</a></li>
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>

        <!-- Content -->

        <div id="main">

            {% for pic in page.pictures %}
            {% if forloop.first == true %}
            <img class="img-responsive firstimg" src="{{ pic.url }}" />
            {% else %}
            {% endif %}
            {% endfor %}

            <div class="container">

                <!-- Info pannel -->

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                    <ol class="breadcrumb">
                        <li><a href="../projects-page">Projects</a></li>
                        <li class="active">{{ page.short-title }}</li>
                    </ol>

                    <h1 class="pad">{{ page.title }}</h1>
                    {{ content }}

                </div>

                <!-- Images -->

                <div class="imagez col-lg-8 col-md-8 col-sm-12 col-xs-12">

                    {% for pic in page.pictures %}
                    {% if forloop.first == true %}
                    {% else %}
                    {% if pic.width == "narrow" %}
                    <div class="propad col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        {% else %}
                        <div class="propad col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            {% endif %}
                            <img class="img-responsive" src="{{ pic.url }}" />
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>

                    <!-- Content Pannel closing -->

                </div>
            </div>

        </div>

        <!-- Footer -->

        {% include footer.html %}

        <!-- Include all compiled plugins (below), or include individual files as needed -->

        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="../js/bootstrap.min.js"> </script>
        <script type="text/javascript" src="../js/mainnav.js"></script>

</body>

</html>