<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
	<div id="wrap">
		<nav class="navbar navbar-default navbar-fixed-top navDrop" role="navigation">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-1"
						data-toggle="collapse" type="button"><span class="icon-bar"></span> <span
							class="icon-bar"></span> <span class="icon-bar"></span></button> <a class="navbar-brand"
						href="index"><img alt="TSH logo" src="img/TSH-logo.png"></a>
				</div><!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li class="active">
							<a>Old Marston Paddock</a>
						</li>
						<li>
							<a href="projects-page">Projects</a>
						</li>
						<li>
							<a href="news">News</a>
						</li>
						<li>
							<a href="about">About</a>
						</li>
						<li>
							<a href="contact">Contact</a>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav><!-- /.mixItUp -->
		<div id="main">



			<img class="img-responsive firstimg" src="../img/projects/marston-1.jpg" />


















			<div class="container">

				<!-- Info pannel -->

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

					<h1 class="pad">Old Marston Paddock Public Engagement</h1>

					<p>Welcome! You will find on this page a project summary and imagery of the Old Marston Paddock
						scheme as well as a link to download the full public engagement document. We would love to know
						your thoughts, please email them to <a
							href="mailto:oldmarstonpaddock@priorpartners.com">oldmarstonpaddock@priorpartners.com</a>
					</p>

					<p>Click the button below to download the full consultation document in PDF Format.</p>

					<a style="
						background-color: #1d6a9a;
						border: none;
						color: white;
						padding: 5px 40px;
						text-align: left;
						text-decoration: none;
						font-weight: bold;
						margin-bottom: 40px;
						display: inline-block;
						border-radius: 16px;"" href="/assets/OldMarstonPaddock-PublicEngagementDocument.pdf">Download Document</a>
						</a> <h2>Project Summary</h2>

						<p>Old Marston Paddock is located on the periphery of Old Marston, situated between the
							Conservation
							Area and the A40. The site was allocated under policy SP23 in the adopted Oxford Local Plan
							2036, which stipulates a minimum of 39 dwellings and 10% Public Open Space for this site.
						</p>

						<h2>Design Approach</h2>

						<p>Contextual analysis of Old Marston Conservation Area and contemporary vernacular precedents
							from
							similar urban/rural fringe conditions have informed the design approach to the scheme. In
							particular, analysis of the Conservation Area and its positive buildings inspired the
							development of 3 different dwelling typologies that include corner cottages, village
							terraces
							and rural courtyard buildings, of which are unified by landscaping, planting and elements of
							stone walling.</p>

						<h2>Proposed Scheme</h2>

						<p>The proposed site layout comprises 40 dwellings (50% affordable), and Public Open Space
							(greater than 10% of the site area) that is principally located in the centre of the site. A new pedestrian path and cycle route
							connects Butts Lane through to the public green space at the centre of the site,
							subsequently to
							the wooded area and finally connects to the A40 cycle & footpath. The scheme features 26
							houses
							and 14 flats composed in 3 ‘terraces’ that face a village green public open space in the
							centre.
							Each house has a private garden and the flats benefit from private amenity space such as
							balconies. The terraces lend themselves to increased thermal efficiency and further
							sustainable
							strategies such as high-performance building fabric, photovoltaic panels and air source heat
							pumps have been incorporated into the scheme. The material palette has been selected to
							complement Old Marston: Cotswold stone, buff brick, clay tile roofing and dark timber
							cladding.
						</p>
						<p>Please refer to the full public engagement (link above) for more information.</p>

						<h2>Frequently Asked Questions</h2>

						<strong>What will be the impact on the Marston Conservation Area?</strong>
						<p>The site adjoins the Marston Conservation Area which has been the key driver in the design of
							the homes and hard and soft landscaping.</p>
						<strong>When will the new homes be completed and how long will it take to build?</strong>
						<p>It is anticipated that construction would begin in late 2021 with the first homes available
							for occupation 2022/23 with a construction period of 18-24 months.</p>
						<strong>How will construction vehicles navigate Butts Lane?</strong>
						<p>Smaller construction vehicles will only be able to navigate Butts Lane and a Construction
							Environmental Management Plan will be prepared to ensure safe access.</p>
						<strong>Will there be any affordable homes?</strong>
						<p>There will be 20 affordable homes of the 40 within the scheme in accordance with Oxford City
							Council policy.</p>
						<strong>Will there be connections for electric vehicles?</strong>
						<p>There will be convenient connections that will be incorporated within the street furniture
							(as part of the bike and bin stores) or connections from the home.</p>
						<strong>Will there be good pedestrian and cycle connections?</strong>
						<p>There will be a new pedestrian and cycle connection to the existing foot/cycle path on the
							southern side of the A40.</p>
						<strong>Will there be new trees planted?</strong>
						<p>There will be extensive new tree planting with native species including semi-mature
							specimens.</p>
						<strong>How will the proposals impact St Nicholas park?</strong>
						<p>The access to St Nicholas park will be clear at all times. There will be an additional
							pedestrian and cycle connection to the foot and cycle path alongside the A40.</p>
						<strong>How has the Covid 19 rules impacted engagement?</strong>
						<p>We would have preferred to speak in person to explain the proposals and here from you but we
							are hopeful that this method will give us feedback and allow the best possible exchange
							under the Covid 19 rules.</p>
						<strong>What type of information will be submitted?</strong>
						<p>The application will be in full with building details shown including approach to materials
							and elevations together with supporting information including drainage, energy and transport
							assessments to demonstrate that the proposals are suitable.</p>
						</p>
				</div>

				<!-- Images -->
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">


					<h2>Questions</h2>

					<p>Here are some questions for you to consider when submitting your feedback</p>
					<p><strong>Do you feel the site constraints pages have correctly interpreted the site and its local
							context?</strong></p>
					<p><strong>Do you like the materials we have selected?</strong></p>
					<p><strong>Do you believe we have interpreted and reflected the nearby Conservation Area
							appropriately? </strong></p>
					<p><strong>Do you think there are benefits to creating access from Marston to the cycle path through
							the site?</strong></p>
					<p><strong>Do you feel the public open space to be provided is a useful addition to the local
							area?</strong></p>
					<p><strong>Is there any additional information you wanted to read about that was not included at
							this stage?</strong></p>
					<p><strong>Do you have any other comments you would like to make on the proposals?</strong></p>

					<p>Please send all responses to <a
							href="mailto:oldmarstonpaddock@priorpartners.com">oldmarstonpaddock@priorpartners.com</a>
					</p>

					<!-- Content Pannel closing -->
				</div>

				<div class="imagez col-lg-8 col-md-8 col-sm-12 col-xs-12">







					<div class="propad col-lg-12 col-md-12 col-sm-12 col-xs-12">

						<img class="img-responsive" src="../img/projects/marston-2.jpg" />
					</div>




					<div class="propad col-lg-12 col-md-12 col-sm-12 col-xs-12">

						<img class="img-responsive" src="../img/projects/marston-3.jpg" />
					</div>




					<div class="propad col-lg-12 col-md-12 col-sm-12 col-xs-12">

						<img class="img-responsive" src="../img/projects/marston-4.jpg" />
					</div>




					<div class="propad col-lg-12 col-md-12 col-sm-12 col-xs-12">

						<img class="img-responsive" src="../img/projects/marston-5.jpg" />
					</div>



				</div>


			</div>
		</div </div> </div> <!-- Footer -->
		<div id="footer">
			<hr>
			<div class="container">
				<div class="footerz">
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-4"><img alt="RIBA logo"
							class="hidden-xs visible-sm visible-md visible-lg" src="img/RIBAlogo.jpg"> <img
							alt="RIBA logo" class="visible-xs hidden-sm hidden-md hidden-lg" src="img/RIBAlogo2.jpg">
					</div>
					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-8">
						<ul>
							<li>TSH Architects</li>
							<li>+44 (0) 1865 861281</li>
							<li>
								<a href="mailto:hello@tsharchitects.co.uk">hello@tsharchitects.co.uk</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<!-- Footer -->

		{% include footer.html %}>



		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="text/javascript">
		</script>
		<script src="js/bootstrap.min.js" type="text/javascript">
		</script>
		<script src="js/mainnav.js" type="text/javascript">
		</script>
		<script src="js/jquery.mixitup.min.js" type="text/javascript">
		</script>
		<script src="js/safety.js" type="text/javascript">
		</script>
		<!-- <script type="text/javascript" src="js/jquery.ba-hashchange.js"></script>
    <script type="text/javascript" src="js/BBQ.js"></script>-->
</body>

</html>