<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div id="wrap">
    <!-- start wrap -->

    <nav class="navbar navbar-default navbar-fixed-top navDrop" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index"> <img src="img/TSH-logo.png" alt="TSH logo"> </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="projects-page">Projects</a></li>
            <li class="active"><a>News</a></li>
            <li><a href="about">About</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>


    <!-- /.mixItUp -->
    <div id="main">
      <!-- start main -->

      <div class="wapNEWS">
        <!-- start wapNEWS -->

        <div class="container">
          <!-- start content -->

          <div class="propad col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>News</h1>
          </div>



          <div class="twitter-container propad col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a class="twitter-timeline" href="https://twitter.com/tsh_architects">Tweets by tsh_architects</a>
            <script type="text/plain" data-cookieconsent="preferences,marketing,statistics" async
              src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <div class="cookieconsent-optout-marketing">
              Please <a href="javascript:Cookiebot.renew()">allow all cookies</a> to view this content.
            </div>
          </div>


        </div><!-- end content -->

      </div><!-- end wapNEWS -->

    </div><!-- end main -->

  </div><!-- end wrap -->

  <!-- Footer -->

  {% include footer.html %}

  <!-- Include all compiled plugins (below), or include individual files as needed -->

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
  <script type="text/javascript" src="js/safe.js"></script>




</body>

</html>