<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

  <div id="wrap">
    <!-- start wrap -->


        {% include nav.html %}



    <!-- /.mixItUp -->
    <div id="main">
      <!-- start main -->

      <div class="wapNEWS">
        <!-- start wapNEWS -->

        <div class="container">
          <!-- start content -->

          <div class="propad col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1>News</h1>
          </div>



          <div class="twitter-container propad col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <a class="twitter-timeline" href="https://twitter.com/tsh_architects">Tweets by tsh_architects</a>
            <script type="text/plain" data-cookieconsent="preferences,marketing,statistics" async
              src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            <div class="cookieconsent-optout-marketing">
              Please <a href="javascript:Cookiebot.renew()">allow all cookies</a> to view this content.
            </div>
          </div>


        </div><!-- end content -->

      </div><!-- end wapNEWS -->

    </div><!-- end main -->

  </div><!-- end wrap -->

  <!-- Footer -->

  {% include footer.html %}

  <!-- Include all compiled plugins (below), or include individual files as needed -->

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/jquery.mixitup.min.js"></script>
  <script type="text/javascript" src="js/safe.js"></script>




</body>

</html>